{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    {% if user %}
        <h1>Welcome, {{ user | capitalize }}</h1>
        
        <ul>
            {% for item in todos %}
                {{ macros.render_todo(item) }}
            {% endfor %}
        </ul>
    {% else %}
        <div class="container">
            {{ wtf.quick_form(login_form) }}
        </div>
    {% endif %}
    {% if user_ip %}
            <h3>Your Ip is {{ user_ip }}</h3>
        {% else %}
            <a href="{{ url_for('index') }}">Get a Ip</a>
        {% endif %} 
{% endblock %}
