{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macros %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
{% if user %}
    <br>
    <div class="container">
        <h1>Welcome, {{ user.username | capitalize }}</h1>
        {% if user_ip %}
            <h3>Your Ip is {{ user_ip }}</h3>
        {% else %}
            <a href="{{ url_for('index') }}">Get a Ip</a>
        {% endif %} 
        <hr>
        <div class="container">
            <h2>Create a new task</h2>
            {{ wtf.quick_form(task_form)}}
        </div>
       <hr><br> 
        <h5>These are your tasks sir:</h5>
        <ul>            
            {% for item in tasks %}
                {{ macros.renderize_all(item, delete_form, update_form) }}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
        
{% endblock %}
