{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    {% if user %}
        <h1>Welcome, {{ user.username | capitalize }}</h1>
        {% if user_ip %}
            <h3>Your Ip is {{ user_ip }}</h3>
        {% else %}
            <a href="{{ url_for('index') }}">Get a Ip</a>
        {% endif %} 
        <h5>These are your tasks sir:</h5>
        <ul>            
            {% for item in tasks %}
                {{ macros.renderize_all(item) }}
            {% endfor %}
        </ul>
    {% endif %}
        
{% endblock %}
